.kanban::-webkit-scrollbar {
  display: none;
}

.item {
  height: 70px;
  width: 90%;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 10px;
}

.item-text {
  font-size: 0.7em;
  font-weight: normal;
  margin-top: 5px;
  margin-left: 5px;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.react-responsive-modal-modal {
  width: 1000px;
  margin-top: 30vh;
  border-radius: 10px;
}

.text-area,
.text-area:focus {
  font-size: 1rem;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  border: 1px solid lightgrey;
  outline: 0;
  resize: none;
  margin-bottom: 10px;
  overflow: auto;
}
.DraftEditor-editorContainer {
  font-size: 1rem;
  height: 300px !important;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  border: 1px solid lightgrey;
  outline: 0;
  resize: none;
  margin-bottom: 10px;
  overflow: auto;
}
.description {
  font-size: 1rem;
  height: 500px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  border: 1px solid lightgray;
  outline: 0;
  resize: none;
}

.text-area {
  -moz-box-shadow: inset 0 0 0 lightgray;
  -webkit-box-shadow: inset 0 0 0 lightgray;
  box-shadow: inset 0 0 0px lightgray;
}

.editorToolbar {
  margin-top: 5px;
  background-color: lightgray;
  border-radius: 5px;
}
.css-19kzrtu {
  padding: 15px !important;
}

.rdw-option-wrapper,
.rdw-dropdown-wrapper {
  border: 0;
  background-color: transparent;
}

.no-outline:focus {
  outline: 0;
}

.title,
.list-title {
  border: 0;
  height: 3rem;
  font-size: 2rem;
  width: 100%;
  padding: 20px 0;
  border-radius: 5px;
  font-weight: bold;
  background-color: transparent;
}

.list {
  max-height: 70vh;
  overflow: auto;
}

.list-title {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
.title:focus,
.title:hover,
.list-title:focus {
  outline: 1px solid lightgray;
}

.customOverlay {
  background: rgba(36, 123, 160, 0);
}
.customModal {
  width: 250px;
  left: -180px;
  top: -80px;
  background-color: aliceblue;
}

.customTagModal {
  width: 400px;
  left: 60px;
  top: 0px;
  background-color: aliceblue;
}
.basicModal {
  top: -20vh;
  height: 80vh;
}

.modal-label {
  font-size: 1.3rem;
  font-weight: bold;
  color: dimgrey;
  margin-right: 10px;
}

.leave-comment {
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 2.6rem;
  width: 100%;
  padding-left: 10px;
  font-size: 1rem;
  color: dimgray;
}

.label-button,
.logout-btn {
  border: 1px solid lightgray !important;
}
.checked:hover {
  background-color: lightgray !important;
}

.editor-btn:hover,
.label-button:hover,
.logout-btn:hover,
.upload-button:hover {
  color: white !important;
  background-color: gray !important;
}

.todo,
.file-name {
  border: 0;
  height: 1.5rem;
  font-size: 1rem;
  width: 80%;
  padding: 15px 5px;
  border-radius: 5px;
  color: dimgray;
}

.todo:focus,
.todo:hover,
.file-name:focus,
.file-name:hover {
  outline: 1px solid lightgray;
}

.upload-button {
  border: 0;
  font-size: 1rem;
  width: 80%;
  border-radius: 5px;
  color: dimgray;
  background-color: white;
}

input[type="file"]::file-selector-button {
  border: 1px solid lightgray;
  padding: 10px 8px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 0.8rem;
  color: #7b809a;
  font-weight: bold;
}

input[type="file"]::file-selector-button:hover {
  background-color: lightgray !important;
}

.css-1ioqvny-MuiPaper-root-MuiDrawer-paper {
  height: 100% !important;
  border-radius: 0 !important;
  margin: 0 !important;
}

.myMsg {
  text-align: right !important;
}

::-webkit-scrollbar {
  width: 12px;
  display: none;
}

.css-1j2zi5l {
  top: 150px !important;
}

.kanban {
  top: 0px !important;
  height: 350px !important;
}

.transcription-btn:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

.btnTimeStyle {
  border: 0px;
  background-color: transparent;
  text-align: left;
  margin-left: 15px;
}

.btnContentStyle {
  border: 0px;
  background-color: transparent;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.transcription-btn:hover .transcriptionRow {
  color: white !important;
}

.search-transcription {
  border: 1px solid lightgrey;
  border-radius: 10px !important;
  margin-left: 0 !important;
  margin-bottom: 10px;
}

.editor-btn {
  border: 1px solid lightgrey;
  border-radius: 5px !important;
  background-color: transparent;
  padding: 5px 10px;
  color: dimgrey;
}

.css-13kks1c-MuiPaper-root-MuiCard-root {
  background-color: rgba(255, 255, 255, 0.52) !important;
}

.css-lmq8rr {
  padding: 12px !important;
}

.css-135h7am {
  background-color: white !important;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1) !important;
}

.MuiTypography-h6 {
  color: dimgrey !important;
}

.react-responsive-modal-container {
  overflow: hidden;
}

.url-break {
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;
}

.chat-input {
  color: white;
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  box-shadow: 0;
  border-radius: 5px;
  height: 40px;
  padding: 10px;
  font-size: 1rem;
}

.chat-input:focus {
  outline: 0;
}

.chat-body {
  height: 1100px;
  overflow: auto;
}
